/* override css styles of the main theme here */
figure {
              border: thin silver solid;
}

figcaption {
    text-align: center;
    font-size: smaller;
}

img.feed-img {
    height: 0.8em;
}
